<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Cadastro</title>
  <link rel="stylesheet" href="/templates/static/style.css" />
</head>
<body>
  <form method="POST" action="/cadastro">
    <h2>Cadastro</h2>
    <input type="text" name="usuario" placeholder="Usuário" required />
    <input type="password" name="senha" placeholder="Senha" required />
    <button type="submit" class="register-btn">Cadastrar</button>
    <a href="/templates/login.html">Já tem conta? Faça login</a>
  </form>
</body>
</html>
